

body.index
{
	margin: 0;
	padding: 0;
	background: url(../Images/arr.jpg) no-repeat  fixed;
	background-size: cover;
	font-family: sans-serif;
	
	 -webkit-background-size: cover; /* pour anciens Chrome et Safari */


}
.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	float: left;
	border-radius: 30px;
    box-shadow: 12px 12px 2px 1px #212529;
	display: inline-block;
	color: white;
	  
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	background: transparent;
	outline: none;
	/*height: 40px;*/
	color: #fff;
	font-size: 16px;
	float: left;
    width: 80%;
    height: auto;
    margin-left: 5px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
	margin-top: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;

}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;

}
.text{
	    border-bottom: 1px solid #fff;
    width: 100%;
    height: 26px;
    display: inline-block;
    margin-top: 10px;
}


i.fa.fa-user {

	    font-weight: 900;
    color: white;
    float: left;
    width: auto;
    height: auto;
    text-align: center;

}

i.fas.fa-unlock {

	    font-weight: 900;
    color: white;
    float: left;
    width: auto;
    height: auto;
    text-align: center;

}
.loginGestion {

	position: absolute;
	top: 50%;
	left: 7%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	float: left;
	display: inline-block;
}


div.form-row.profile{

	    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
        margin-top: 25px;

}

div.boxx{

position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: auto;
	height: auto;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	float: left;
	display: inline-block;
	color: white;
	margin-top: 100px;
	margin-bottom: : 100px;
	    font-size: 12px;



}

img#imgadm{

	vertical-align: middle;
    border-style: none;
    display: inline-block;
    float: left;
    height: 60px;

}


div.tab{
	overflow: scroll;
    width: 94%;
    margin-left: 34px;
    margin-right: 10px;
    margin-top: 44px;
    height: 470px;
}

#poli{
	font-size: unset;
    color: white;
    width: 420px;

}
img#imgadmm{
	height: 80px;
}

ul.navbar-nav.ml-auto.top{

	    margin-top: 47px;
}
nav.navbar.fixed-bottom.navbar-light.bg-light.boto{
	font-size: 9px;
    height: 106px;
    color: black;
}

footer {
      position: relative;
    /* bottom: -5px; */
    font-size: 9px;
    /* display: block; */
    /* margin-top: 33px; */
    top: 430px;
    margin-bottom: 5px;
}

div.jumbotron.jumbotron-fluid.ajoutad{

	margin: 15px;
    border-radius: 34px;
}